.body {
  height: 100vh;
  background-color: bisque;
}

.wrapper {
  background-color: salmon;
  height: 400px;
  width: 600px;
  padding: 40px;
  box-sizing: border-box;
  margin: 80px;
}

.sign-up {
  font-weight: bold;
  margin-bottom: 20px;
}