.right-box__input {
  background-color: white;
  height: calc(100% - 60px);
  width: 100%;
  float: left;
  padding: 4px;
  box-sizing: border-box;
  overflow: scroll;
}

.filter-img {
  filter: opacity(50%);
}