!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body

    .header
      .header__box
        .header__box-img
          タイトル画像
        .header__box-logout
          ログアウト

    .main
      .main__box
        .main__box-img
          =image_tag "uzeb.jpg", size: "600x600"
        .main__box-right
          .main__box-right-love
            いいね
          .main__box-right-user
            .main__box-right-user-name
              ぼく
            .main__box-right-user-delete
              消す
            .main__box-right-user-edit
              編集
          .main__box-right-comment
            ( ´∀｀)