.header {
  height: 80px;
  width: 100vw;
  background-color: #1d1d1d;
  box-sizing: border-box;
  padding: 20px;
    &__box-img {
      height: 40px;
      width: 200px;
      float: left;
      color: white;
      line-height: 40px;
      margin-left: 40px;
    }
    &__box-post {
      height: 40px;
      width: 120px;
      float:right;
      color: white;
      font-weight: bold;
      line-height: 40px;
    }
    &__box-logout {
      height: 40px;
      width: 120px;
      float:right;
      font-weight: bold;
      line-height: 40px;
    }
}

.header a {
  color: white;
}

.main {
  height: calc(100vh - 80px);
  padding-top: 20px;
  box-sizing: border-box;
    &__box {
      height: 600px;
      width: 900px;
      margin: auto;
      display: flex;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    }
      .img {
        float: left;
      }
      .right-box {
        background-color: white;
        border-left: 1px solid #efefef;
        height: 100%;
        width: 100%;
        float: left;
      }
      .right-box__info {
        background-color: grey;
        height: 60px;
        width: 100%;
        float: left;
        text-align: center;
        .info-time {
          padding-top: 8px;
          font-weight: bold;
        .info-page {
          text-align: center;
        }
      }
    }
      .right-box__comments {
        background-color: white;
        height: calc(100% - 60px);
        width: 100%;
        float: left;
        padding: 12px;
        box-sizing: border-box;
        overflow: scroll;
          .text {
          margin-bottom: 12px;
          }
          .user {
            display: flex;
            // margin-bottom: 40px;
            margin: 40px 0;
            &__edit {
            // float: right;
            margin-right: 20px;
            }
            &__delete {
            // float: right;
            
          }
      }
    }
  }