.header {
  height: 80px;
  width: 100vw;
  background-color: orange;
  box-sizing: border-box;
  padding: 20px;
    &__box-img {
      height: 40px;
      width: 120px;
      float: left;
    }
    &__box-logout {
      height: 40px;
      width: 120px;
      float:right;
    }
}

.main {
  background-color: yellow;
  height: calc(100vh - 80px);
  padding-top: 20px;
  box-sizing: border-box;
    &__box {
      height: 600px;
      width: 900px;
      margin: auto;
      display: flex;
    }
      .img {
        float: left;
      }
      .right-box {
        background-color: white;
        border-left: 1px solid #efefef;
        height: 100%;
        width: 100%;
        float: left;
      }
      .right-box__logo {
        background-color: burlywood;
        height: 60px;
        width: 100%;
        float: left;
        }
      .right-box__comments {
        background-color: white;
        height: calc(100% - 60px);
        width: 100%;
        float: left;
        padding: 12px;
        // display: flex;
        box-sizing: border-box;
        overflow: scroll;
          .text {
          margin-bottom: 12px;
          }
          .user {
            display: flex;
            margin-bottom: 40px;
            // justify-content: space-between;
            // &__name {
            // font-weight: bold;
            // float: left;
            // }
            &__edit {
            // float: right;
            margin-right: 20px;
            }
            &__delete {
            // float: right;
            
          }
      }
    }
  }